.background {
    fill: #122332;
}

body {
    font-family: "Roboto";
    margin: 0;
}

#main {
    background-color: #122332;
    padding: 10px 20px 10px 20px;
}

#header {
	background-color: #061826;
}

h1 {
	color: #ffffff;
	font-family: "Roboto";
	font-style: "normal";
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
}

h2 {
	color:#ffffff;
	font-family: "Roboto";
	font-style: "normal";
	font-weight: 250;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	padding-right: 8px
}

#tabs {
	padding-left: 30px;
}

.sort {
	background-color: rgba(0, 0, 0, 0);
	border: 1.2px solid #C7D8E5;
	color: white;
	font-family: Roboto;
	font-size: 14px;
	padding: 6px 16px;
	border-radius: 20px;
	transition-duration: 0.4s;
}

.sort:hover {
	background-color: #C7D8E5;
	color: #122332;
}

.sort:active {
	background-color: #8FA7BA;
	border: 1.2px solid #8FA7BA;
}

.imdb-plot .plot-label {
    font-size: 5em;
    size: 1em;
    opacity: 0;
}

.imdb-plot:hover .plot-label {
    opacity: 1;
    text-anchor: middle;
    font-size: 12px;
    fill:#f5f5f5;
}


.imdb-plot:hover {
    opacity: 1;
    fill: yellow;
}

.imdb-plot {
    opacity: .2;
    fill: #42c5f5;
}

.gross-plot:hover .plot-label {
    text-anchor: middle;
    opacity: 1;
    font-size: 12px;
    fill:#f5f5f5;

}

.gross-plot:hover {
    opacity: 1;
    fill: yellow;
}

.gross-plot {
    opacity: .2;
    fill: #42c5f5;
}

circle .gross-plot: {
    opacity: .2;
    fill: #42c5f5;
}

.axis {
    color:#f5f5f5;
}

.label {
    fill:#f5f5f5;
    font-size: 12px;
}
