/*
font-family: 'Satisfy', cursive;
font-family: 'Manrope', sans-serif;
*/
html {
    background: #122332;
    padding: 20px 20px;
}

body {
    font-family: "Manrope";
    margin: 10px;
}

#header {
	background-color: #061826;
}

h1 {
	color: orangered;
	font-family: 'Satisfy', cursive;
	font-size: 2.5em;
    line-height: 18px;

}

h2 {
	color:#ffffff;
	font-family: 'Manrope', sans-serif;
	font-style: "normal";
	font-weight: 250;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	padding-right: 8px
}

p {
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-size: .8em;
    padding-right: 200px;
    padding-left: 200px;
}

#tabs {
    padding-left: 260px;
    padding-right: 200px;
}

.sort {
	background-color: rgba(0, 0, 0, 0);
	border: 1.2px solid #C7D8E5;
	color: darkslategrey;
	font-family: 'Manrope', sans-serif;
    font-weight: bold;
	font-size: 14px;
	padding: 6px 16px;
	border-radius: 20px;
	transition-duration: 0.4s;
    padding: 0px 82px;
    background-color: #C7D8E5;
}

.sort:hover {
	background-color: #C7D8E5;
	color: #122332;
    opacity: 50%;
}

.sort .active {
    opacity: 50%;
/*	background-color: #8FA7BA;*/
/*	border: 1.2px solid #8FA7BA;*/
}

.imdb-plot {
    opacity: .2;
    fill: #42c5f5;
}

.gross-plot {
    opacity: .2;
    fill: #42c5f5;
}

circle .gross-plot: {
    opacity: .2;
    fill: #42c5f5;
}

.axis {
    color:#f5f5f5;
}

.label {
    fill:#f5f5f5;
    font-size: 12px;
}

.detail-info {
    font-size: 2em;
    opacity: 1;
}

/*Info Selections*/
#selectedTitle {
    fill: #fff;
    font-size: 1.5em;
    font-family: 'Manrope', sans-serif;
}

#selectedScore {
    fill: #fff;
    font-family: 'Manrope', sans-serif;
}

#selectedRev {
    fill: #fff;
    font-family: 'Manrope', sans-serif;
}

#selectedPop {
    fill: #fff;
    font-family: 'Manrope', sans-serif;
}

#slider {
    fill: white;
}

.descriptives {
    text-align: center;
    vertical-align: middle;
}

svg {
    padding-top:20px;
}